<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<head th:replace="_fragments::head(~{::title})">-->
<head th:replace="_fragments::head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签云</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/myCss.css">
</head>
<body>
<!--导航-->

    <nav th:replace="_fragments::menu(3)" ></nav>
    <!--动态背景-->
    <canvas></canvas>
    <!--中间内容-->
    <div class="ui container m-mobile-margin-top" id="wrap">
        <div class="ui stackable grid">
            <div class="twelve wide column animate__animated animate__fadeInUp">
                <!--头部-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui header white">标签</h3>
                        </div>
                        <div class="right aligned column">
                            共<h2 class="ui  header m-inline-block m-text-thin" th:text="${totalTagNum}">14</h2>个
                        </div>
                    </div>
                </div>
                <!--主体-->
                <div id="leftBlogList" th:fragment="blogList" class="animate__animated">
                    <!--各个标签-->
                    <div class="ui attached segment m-padded-tb-large">
                        <span id="tagList" th:fragment="tagList">
                            <a  class="ui large label m-margin-tb-tiny m-black" onclick="tagSelected(this)" th:attr="data-id=${tag.id},data-tag-num=${#arrays.length(tags)}" th:each="tag:${tags}" th:classappend="${tag.id==activeTagId}?'black':''">
                                <span th:text="${tag.tagName}" >序列化</span>
                                <div class="detail" th:text="${#arrays.length(tag.blogs)}" >23</div>
                            </a>
                            <a  th:unless="#{tagShowNum}>=${totalTagNum}" th:text="${currentTagNum<totalTagNum}?'...':'收起'" class="ui large  label m-margin-tb-tiny m-black" id="showOrHideTag" th:attr="data-active-tag-id=${activeTagId}" onclick="showOrHideTag(this)"></a>
                            <input type="hidden" th:value="${currentTagNum}" id="currentTagNum"/>
                            <input type="hidden" th:value="${totalTagNum}" id="totalTagNum"/>
                        </span>

                    </div>
                    <!--博客列表-->
                    <div class="ui top attached black segment" th:if="${page.totalElements>0}">
                        <!--/*-->
                        <!-- top和bottom连接,和上边一块没有关系,如果三个都是arrached则三个连在一起-->
                        <!--*/-->
                        <!--每一篇文章-->
                        <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" th:each="blog:${page.content}">
                            <!--上边文章标题、描述、图片-->
                            <div class="row">
                                <div class="ui  mobile reversed stackable grid" >
                                    <!--文章标题、描述-->
                                    <div class=" eleven wide column">
                                        <p class="ui header" style="word-wrap: break-word;word-break: break-all;"><a href="#" class="m-black" th:text="${#strings.abbreviate(blog.title,50)}"  th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">你真的认为序列化很简单吗？</a></p>
                                        <p class="m-text" th:text="|${#strings.abbreviate(blog.content,150)}...|">序列化是把对象改成可以存到磁盘或通过网络发送到其它运行中的 Java 虚拟机的二进制格式的过程，并可以通过反序列化恢复对象状态。Java 序列化 API 给开发人员提供了一个标准机制：通过实现 java.io.Serializable 或者 java.io.Externalizable 接口，ObjectInputStream 及 ObjectOutputStream 处理对象序列化。</p>
                                    </div>
                                    <!--右侧图片-->
                                    <div class=" five wide column"  >
                                        <a href="" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}" >
                                            <img src="https://picsum.photos/id/1004/800/600" th:src="@{${blog.firstPicture}}" alt="" class="ui fluid rounded image" style="width: 16em !important;height:11em !important;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--下边时间 浏览量 分类-->
                            <div class="row m-margin-top">
                                <div class="ui stackable grid">
                                    <!--时间、浏览次数、分类-->
                                    <div class="nine wide column">
                                        <div class="ui  horizontal link list">
                                            <!--/*-->
                                            <!--用户-->
                                            <!--<div class="item">-->
                                            <!--<img src="https://picsum.photos/id/1011/100/100" alt="" th:src="@{${blog.user.avatar}}" class="ui avatar image">-->
                                            <!--<div class="content "><a href="#" class="m-text-strong" th:text="${blog.user.nickname}">李斯诚</a></div>-->
                                            <!--</div>-->
                                            <!--*/-->
                                            <!--时间-->
                                            <div class="item">
                                                <i class="time icon"></i>
                                                <span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}">2020-12-19</span>
                                            </div>
                                            <!--浏览量-->
                                            <div class="item">
                                                <i class="eye icon"></i>
                                                <span th:text="${blog.viewTimes}">955</span>
                                            </div>
                                            <!--文章标签-->
                                            <!--<div class="item">-->
                                            <!--<a href="#"  th:attr="data-id=${tag.id}" class="ui label m-padded-small" th:each="tag:${blog.tags}" th:text="${tag.tagName}" th:classappend="${tag.id==activeTagId}?'black':''">序列化</a>-->
                                            <!--</div>-->
                                            <!--文章分类-->
                                            <div class="item">
                                                <i class="sticky note icon"></i>
                                                <span th:text="${blog.type.typeName}">分类</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--博客列表的底部分页-->
                    <div class="ui bottom attached segment" th:if="${page.totalPages>1}">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a class="icon m-black"  href="#" onclick="prePage(this)" th:attr="data-page=0,data-tag-num=${#arrays.length(tags)}">
                                    <i class="angle double left icon"></i>
                                </a>
                                <a href="#" class="ui mini black basic button"  th:unless="${page.first}" onclick="prePage(this)" th:attr="data-page=${page.number}-1,data-tag-num=${#arrays.length(tags)}">上一页</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" class="ui mini black basic button"  th:unless="${page.last}" onclick="nextPage(this)" th:attr="data-page=${page.number}+1,data-tag-num=${#arrays.length(tags)}">下一页</a>
                                <a class="icon m-black"  href="#" onclick="nextPage(this)" th:attr="data-page=${page.totalPages}-1,data-tag-num=${#arrays.length(tags)}" >
                                    <i class="angle double right icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--右侧热门文章、最新文章，最新推荐、分类和标签-->
            <div  class="four wide column animate__animated animate__fadeInDown">
                <!--热门文章-->
                <div class="ui segments ">
                    <!--灰色头部-->
                    <div class="ui secondary segment">
                        <i class="hotjar icon"></i>热门文章
                    </div>
                    <!--文章列表-->
                    <div class="ui  segment" th:each="hotBlog:${hotBlogs}" >
                        <a href="#" target="_blank" class="m-black" th:text="${hotBlog.title}" th:href="@{/blog/{id}(id=${hotBlog.id})}">你真的了解Java序列化吗？</a>
                        <i class="eye mini icon " ></i>
                        <span style="font-weight:lighter;font-size:smaller;margin-left:5px" th:text="${hotBlog.viewTimes}">955</span>
                    </div>
                    <!--/*-->
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black">你真的了解Java序列化吗？</a>
                        <i class="eye mini icon " ></i>
                        <span style="font-weight:lighter;font-size:smaller;margin-left:5px">955</span>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black">你真的了解Java序列化吗？</a>
                        <i class="eye mini icon " ></i>
                        <span style="font-weight:lighter;font-size:smaller;margin-left:5px">955</span>
                    </div>
                    <!--*/-->

                </div>
                <!--最新文章-->
                <div class="ui segments ">
                    <!--灰色头部-->
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i>最新文章
                    </div>
                    <!--文章列表-->
                    <div class="ui  segment" th:each="newBlog:${newBlogs}" >
                        <a href="#" target="_blank" class="m-black" th:text="${newBlog.title}" th:href="@{/blog/{id}(id=${newBlog.id})}">你真的了解Java序列化吗？</a>
                        <i class="calendar outline icon " ></i>
                        <span style="font-weight:lighter;font-size:smaller" th:text="${#dates.format(newBlog.createTime,'yyyy-MM-dd')}">955</span>
                    </div>
                    <!--/*-->
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black">你真的了解Java序列化吗？</a>
                        <i class="eye mini icon " ></i>
                        <span style="font-weight:lighter;font-size:smaller;margin-left:5px">955</span>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black">你真的了解Java序列化吗？</a>
                        <i class="eye mini icon " ></i>
                        <span style="font-weight:lighter;font-size:smaller;margin-left:5px">955</span>
                    </div>
                    <!--*/-->
                </div>
                <!--博主推荐-->
                <div class="ui segments ">
                    <!--灰色头部-->
                    <div class="ui secondary segment">
                        <i class="thumbs up outline icon"></i>博主推荐
                    </div>
                    <!--文章列表-->
                    <div class="ui  segment" th:each="recommendedBlog:${recentRecommendedBlogs}">
                        <a href="#" target="_blank" class="m-black " th:text="${recommendedBlog.title}" th:href="@{/blog/{id}(id=${recommendedBlog.id})}">你真的了解Java序列化吗？</a>
                    </div>
                    <!--/*-->
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black">你真的了解Java序列化吗？</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black">你真的了解Java序列化吗？</a>
                    </div>
                    <!--*/-->

                </div>
                <!--Top分类-->
                <div class="ui segments">
                    <!--/*-->
                    <!--secondary segment会带有灰色背景-->
                    <!--*/-->
                    <!--分类专栏标题-->
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类专栏
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank" class="m-black" th:href="@{/types/}">more <i class="angle double right icon m-black"></i></a>
                            </div>
                        </div>

                    </div>
                    <!--top分类名称及数量-->
                    <div class="ui  segment" >
                        <!--/*-->
                        <!--fluid代表填充外层容器-->
                        <!--*/-->
                        <div class="ui fluid vertical menu" >
                            <a href="#" class="item" th:each="type:${topTypes}" th:href="@{/types/{id}(id=${type.id})}" target="_blank">
                                <span th:text="${type.typeName}">Java</span>
                                <!--/*-->
                                <!--获取type中blogs集合的长度-->
                                <!--*/-->
                                <div class="ui  black basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Top标签-->
                <div class="ui segments ">
                    <!--标签灰色头部-->
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签云
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank" class="m-black" th:href="@{/tags/}">more <i class="angle double right icon m-black"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--每一个标签-->
                    <div class="ui  segment">
                        <a href="#" target="_blank" class="ui label  m-margin-tb-tiny" th:each="tag:${topTags}" th:href="@{/tags/{id}(id=${tag.id})}">
                            <span th:text="${tag.tagName}">序列化</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                        </a>
                        <!--/*-->
                        <a href="#" target="_blank" class="ui  black basic  label m-margin-tb-tiny">反射
                            <div class="detail">16</div>
                        </a>
                        <a href="#" target="_blank" class="ui  black basic  label m-margin-tb-tiny">继承
                            <div class="detail">7</div>
                        </a>
                        <a href="#" target="_blank" class="ui  black basic  label m-margin-tb-tiny">多态
                            <div class="detail">5</div>
                        </a>
                        <a href="#" target="_blank" class="ui  black basic  label m-margin-tb-tiny">重载
                            <div class="detail">3</div>
                        </a>
                        <!--*/-->
                    </div>
                </div>
                <!--/*-->
                <!--分割线-->
                <!--<h4 class="ui horizontal divider header m-margin-top-large">关注我</h4>-->
                <!--二维码，centered实现元素水平居中-->
                <!--<div class="ui centered card " style="width: 11em;">-->
                <!--<img src="../static/images/myPhoto.jpg" th:src="@{/images/myPhoto.jpg}" alt="" class="ui rounded image" >-->
                <!--</div>-->
                <!--*/-->
            </div>
        </div>
        <!--工具条-->
        <th:block th:replace="_fragments::publicToolBar"></th:block>
    </div>

    <!--底部-->
    <footer th:replace="_fragments::footer" ></footer>

    <!--/*/<th:block th:replace="_fragments :: javaScript">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

<script th:inline="javascript">
    /* 鼠标点击特效 */
    $("body").click(function(e) {
        //随机选择文字
        var a_idx = Math.floor((Math.random() * 11));
        var a = new Array(
            "富强", "民主", "文明", "和谐", "自由", "平等",
            "公正" ,"法治", "爱国", "敬业", "诚信", "友善"
        );
        // 随机产生文字颜色
        // var color1 = Math.floor((Math.random() * 255));
        // var color2 = Math.floor((Math.random() * 255));
        // var color3 = Math.floor((Math.random() * 255));

        var $i = $("<span />").text(a[a_idx]);
        a_idx = (a_idx + 1) % a.length;
        var x = e.pageX,
            y = e.pageY;
        $i.css({　　　　　　//文字样式--------------------------
            "z-index": 9999999999999 ,
            "top": y - 20,
            "left": x,
            "position": "absolute",
            "font-family":"mmm",
            "fontSize":Math.floor((Math.random() * 22)+6),
            "font-weight": "bold",
            // "color": "rgb("+color1+","+color2+","+color3+")",
            "color": "white",
            "-webkit-user-select":"none",
            "-moz-user-select":"none",
            "-ms-user-select":"none",
            "user-select":"none",
        });
        $("body").append($i);
        $i.animate({
                "top": y - 200,  //点击后文字上升高度
                "opacity": 0    //透明度
            },
            1000,
            function() {
                $i.remove();//文字消失时间
            });
    });
    var selectedTagId=null;
    $(function(){
        selectedTagId=[[${activeTagId}]];
    })
    $('#mobileMenu').click(function(){
//        toggleClass代表参数的样式如果有则去除掉，如果没有则加上
        $('.m-item').toggleClass('m-mobile-hide');
    });
    function queryAnimate(element,animate){
        const animateElement = document.querySelector('#'+element);
        animateElement.classList.add(animate);
        animateElement.addEventListener('animationend', function (){
            animateElement.classList.remove(animate);
        });
    }
    function tagSelected(obj){
        selectedTagId=$(obj).data("id");
        queryAnimate('leftBlogList','animate__fadeIn')
        $("#leftBlogList").load(/*[[@{/tags/query}]]*/"",{
            page:0,
            id:$(obj).data("id"),
            tagNum:$(obj).data("tagNum")
        });
    }
    function loadData(obj){
        $("#leftBlogList").load(/*[[@{/tags/query}]]*/"",{
            page:$(obj).data("page"),
            id:selectedTagId,
            tagNum:$(obj).data("tagNum")
        });
    }
    function prePage(obj){
        queryAnimate('leftBlogList', 'animate__fadeInRight')
        loadData(obj);
    }
    function nextPage(obj){
        queryAnimate('leftBlogList', 'animate__fadeInLeft')
        loadData(obj);
    }
    function loadTagData(num,obj){
        $("#tagList").load(/*[[@{/tags/showOrHide}]]*/"",{
            num:num,//显示全部还是部分
            id:$(obj).data("activeTagId")
        },function (status ) {
            if (status=='success'&&num==1){
                $("#showOrHideType").text('收起')
            }
            if (status=='success'&&num==0){
                $("#showOrHideType").text('...')
            }
        });
    }
    function showOrHideTag(obj) {
        var currentTagNum=$("#currentTagNum").val();
        var totalTagNum=$("#totalTagNum").val();
        if(currentTagNum<totalTagNum){
            //获取全部分类
            //1代表显示全部
            loadTagData(1,obj)
        }
        else{
            //获取部分分类
            //0代表显示部分
            loadTagData(0,obj)
        }
    }
</script>
</body>
</html>